# Docs: https://github.com/Azure/webapps-deploy
# More Azure Actions: https://github.com/Azure/actions

name: CI/CD Java + SonarCloud + Azure Web App - Actividad5

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

env:
  JAVA_VERSION: '21'
  DISTRIBUTION: 'microsoft'
  SONAR_HOST_URL: 'https://sonarcloud.io'
  SONAR_PROJECT_KEY: 'SebasMa24_Taller1'
  SONAR_ORGANIZATION: 'sebasma24'
  AZURE_APP_NAME: 'Actividad5'
  SLOT_NAME: 'Production'

jobs:
  build_test_and_sonar:
    name: Build, Test & SonarCloud
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: ${{ env.DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}
          cache: 'maven'

      - name: Build, Test & Analyze with SonarCloud
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn -B -ntp clean verify org.jacoco:jacoco-maven-plugin:report \
            org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
            -Dsonar.host.url=${{ env.SONAR_HOST_URL }} \
            -Dsonar.organization=${{ env.SONAR_ORGANIZATION }} \
            -Dsonar.projectKey=${{ env.SONAR_PROJECT_KEY }} \
            -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml \
            -Dsonar.coverage.exclusions=**/resources/static/**,**/resources/templates/**

      - name: Upload JUnit test reports
        uses: actions/upload-artifact@v4
        with:
          name: junit-reports
          path: target/surefire-reports/

      - name: Package JAR (skip tests to save time)
        run: mvn -B -DskipTests package

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: target/*.jar

  deploy:
    name: Deploy to Azure Web App
    runs-on: ubuntu-latest
    needs: build_test_and_sonar
    if: ${{ github.ref == 'refs/heads/main' }}

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: java-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_A5253C88BCF740988CBC66ADFCE612F4 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_CA3357A9495C4807AF5296145BBD0016 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_5ED67239EB1A485EA9ADF43F51121F73 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_APP_NAME }}
          slot-name: ${{ env.SLOT_NAME }}
          package: '*.jar'



